.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.signin__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.signin__card_group {
  margin-bottom: 10px;
}

.signin__card_label {
  margin-bottom: 10px;
  font-size: 18px;
}

.signin__card_input {
  border-radius: 7px;
  border: 1px solid transparent;
  width: 300px;
  font-size: 18px;
  padding: 10px 15px;
  color: #000;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e8f0fe;
  transition: .20s ease-in-out;
  margin: 5px;
}

.signin__card_input:focus-within {
  width: 310px;
}

.signin__card_input:focus {
  outline: none;
  border-color: #000;
}

.signin__form_button {
  cursor: pointer;
  padding: 7px;
  background-color: #e8f0fe;
  border: 1px solid transparent;
  border-radius: 7px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #666;
  transition: all .3s linear;
}

.signin__form_button:hover {
  background-color: #60e6e6bd;
  border: 1px solid #000;
}
