a {
  text-decoration: none;
}

.signin__button {
  font-size: 20px;
  color: #c3bbbb;
  background-color: #4285b5;
  padding: 12px 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s linear;
  margin: 150px auto;
  display: block;
  text-decoration: none;
}

.signin__button:hover {
  background-color: #4285b5;
  color: #27cab7;
  border: 1px solid #000;
  padding: 15px;
}
