.feedbackForm__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feedbackForm__titles {
  font-size: 24px;
  color: #780cd6;
  margin-bottom: 15px;
}

.feedbackForm__name {
  margin: 10px;
  border: 1px solid #999;
  padding: 5px 20px;
  font-weight: 700;
  text-decoration: underline;
}

.feedBackForm__button {
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s linear;
}

.feedbackForm__button:active {
  background-color: #780cd6;
  color: #fff;
}
.active {
  background-color: #780cd6;
  color: #fff;
}

.feedBackForm__text {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  margin-bottom: 20px;
}

.feedBackForm__text:focus {
  outline: none;
  border-color: #000;
}

.feedBackForm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedBackForm__buttons__logout,
.feedBackForm__buttons__send {
  font-size: 20px;
  color: #fff;
  background-color: #4285b5;
  padding: 10px 22px;
  margin-right: 15px;
  border-radius: 5px 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s linear;
}

.feedBackForm__buttons__logout:hover,
.feedBackForm__buttons__send:hover {
  color: #eeb663;
  background-color: #18547f71;
  border: 1px solid #eeb663;
}
