body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1653035713470-0e0f03748591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}
