.chart {
  width: 400px;
  margin: 30px auto;
}

.button__likes {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  transition: color .3s ease-out;
}

.button__likes:hover {
  color: #ffff00;
}

/* .teacher__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

.teacher__buttonLection,
.teacher__buttonFell {
  font-size: 20px;
  color: #ffff0095;
  padding: 10px 50px;
  border-radius: 5px;
  border: 2px dashed transparent;
  cursor: pointer;
  transition: all .3s linear;
}

.teacher__buttonLection {
  background-color: #07c51176;
}

.teacher__buttonLection:hover {
  border: 2px dashed #fff;
  color: #ffff00;
  background-color: #07c511;
}

.teacher__buttonFell {
  background-color: #ef232386;
}

.teacher__buttonFell:hover {
  border: 2px dashed #fff;
  color: #ffff00;
  background-color: #ef2323;
} */
